$primaryColor: #007132;

.mobile-only {
  display: none !important;
}

.mobile-only-auth {
  display: none !important;
}

.desktop-only {
}

.submenu-item .caret {
  position: absolute;
  top: 20px;
  right: 0;
}

@media screen and (max-width: 1200px) {
  .carousel-item{
    height: 45vh !important;
  }

  .carousel-main{
    position: relative;
    height: 45vh !important;
    border-bottom: 5px dashed #fff,
  }

  .carousel-caption {
    bottom: 3rem !important;
  }

  .banner-header {
    font-size: 2rem !important;
  }

  .banner-text {
    font-size: 1.1rem !important;
  }
}

/* ================== Mobile -md Width ================== */
@media screen and (max-width: 992px) {
  .bag-image {
    height: 35px !important;
  }

  .cart-count {
    font-size: 21px;
    min-width: 22px;
    height: 27px;
    padding: 3px 5px 1px 12.5px
  }

  .desktop-only {
    display: none;
  }

  .page-content-container {
    margin-left: 0;
    width: 100%;
  }

  .list-search {
    width: 100%;
  }

  .submenu-item .caret {
    position: absolute;
    top: 13px;
    right: 0;
  }

  .pagination-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .pagination-buttons button {
    padding: 10px 15px;
  }

  .actions-td {
    padding: 20px 150px;
  }

  .pagination-controls {
    flex-direction: column;
  }

  .menu {
    display: block;
  }

  .data-filters .nav-item {
    flex: 1;
  }

  .control-container,
  .page-control-container {
    flex-direction: column !important;
    width: 100%;
  }

  .page-control-container .mb-3 {
    margin: 2px !important;
  }

  .btn-light-primary-mobile {
    background: #ffe9e5 !important;
    color: $primaryColor !important;
  }
  
  .page-content {
    width: 100%;
  }

  .mark-complete {
    margin: 10px;
  }
  .products {
    .variations {
      span {
        font-size: 14px;
        padding: 10px 10px !important;
      }
    }
  }

  .custom-height-1{
    height: 40% !important;
  }

  .custom-height-2{
    height: 60% !important;
  }

  .carousel-item{
    height: 35vh !important;
  }

  .carousel-main{
    position: relative;
    height: 35vh !important;
    border-bottom: 5px dashed #fff,
  }

  #carouselIntro {
    min-height: 200px;
    height: 200px;
  }

  .carousel-caption {
    bottom: 1rem !important;
    left: 10% !important;
  }

  .banner-header {
    font-size: 1.8rem !important;
  }

  .banner-text {
    font-size: 1rem !important;
    margin-bottom: 20px !important;
  }

  .banner-button {
    font-size: 0.9rem !important;
    padding: 8px 15px;
  }
}

@media screen and (max-width: 768px) {

  .full-screen-height-desktop{
    height: fit-content !important;
  }

  .dashboard-sidebar {
    position: fixed !important;
    padding-top: 50px;
  }

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block !important;
  }
  .mobile-only.d-flex {
    display: flex !important;
  }

  .mobile-only-auth {
    display: block !important;
  }
  .mobile-only-auth.d-flex {
    display: flex !important;
  }

  .login-section {
    h1,
    .h1 {
      font-size: 35px;
    }

    .bg-doodles {
      align-items: start;
      flex-direction: column;
      justify-content: center;
    }

    .account-left-col {
      align-items: start;
    }

    .bg-footer {
      display: flex;
      justify-content: center !important;
      p{
        padding: 0;
      }
    }

    .logo {
      max-width: 300px;
    }

    .logo-container {
      margin-bottom: 20px;
    }

    // form.bg-white {
    //     border-radius: 20px;
    //     margin: 10px;
    // }

    form .form-help {
      text-align: center;
    }

    .custom-height-1{
      height: 40% !important;
    }

    .custom-height-2{
      height: 60% !important;
    }
  }

  /* ===================== Home ===================== */
  .home {
    height: auto !important;
  }

  /* ===================== Dashboard ===================== */
  .most-viewed,
  .products {
    width: 100%;
  }

  .category {
    padding: 0 16px 8px 16px;
  }

  /* ===================== Dashboard Sidebar ===================== */
  .dashboard-sidebar {
    position: fixed !important;
    top: 0;
    left: -290px;
    transition: 0.3s;
    height: 100%;
    z-index: 3;
  }

  .open {
    left: 0;
    width: 100%;
    box-shadow: 10px 10px 10px #dcdcdc;
  }

  .menu button {
    background: white;
    border: 1px solid #fffcfc;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  /* ===================== Prducts ===================== */
  .products {
    .inputs-container {
      padding: 30px 16px;
    }

    .barcode-upload-container {
      position: relative;
      width: 98%;

      input {
        position: relative !important;
      }

      .custom-uploadCode {
        width: 100% !important;
        right: 0 !important;
      }
    }

    .variations {
      span {
        font-size: 10px;
        padding: 10px 14px !important;
      }
    }

    .btn-containers {
      margin-top: 25px;

      button {
        width: 100% !important;
      }
    }
  }

  /* ===================== Sign Up ===================== */
  .signup-section {
    .bg-doodles {
      justify-content: start;
    }
    .logo-container {
      position: relative;
      margin: 0 auto;
      width: 150px;
      margin-top: 22px;
      margin-bottom: 16px;

      .logo {
        width: 100%;
      }
    }
  }
  .signup-form {
    // border-radius: 10px;
    margin: auto;
  }

  /* ===================== SignUp Data ===================== */

  .signup-data-section {
    .logo-container {
      position: relative;
      margin: 0 auto;
      width: 240px;
      margin-top: 22px;

      .logo {
        width: 100%;
      }
    }

    .full-width {
      margin-bottom: 80px;
    }
  }

  /* ===================== Time Line ===================== */
  .time-line {
    display: flex;
    justify-content: center;
    margin-top: 16px !important;

    .time-line-item-container {
      display: flex;
      align-items: center;

      .time-line-item {
        margin-left: 0;
      }

      .dot-container {
        margin: 0 10px !important;
      }

      .line {
        margin: 0;
      }

      .line-h {
        height: 4px;
        width: 26px;
        background-color: white;
        border-radius: 10px;
      }

      .line-h-disabled {
        background-color: #fea898;
      }
    }
  }

  .progress-bar-container {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin: 0 !important;

    p {
      margin-top: 16px !important;
    }
  }

  .carousel-item{
    height: 30vh !important;
  }

  .carousel-main{
    position: relative;
    height: 30vh !important;
    border-bottom: 5px dashed #fff,
  }

  .carousel-caption {
    left: 8% !important;
    width: 40% !important;
  }

  .banner-header {
    font-size: 1.4rem !important;
  }

  .banner-text {
    font-size: 0.75rem !important;
  }

  .banner-button {
    font-size: 0.8rem !important;
    padding: 7px 14px;
  }

  .small-h {
    height: 46px !important;
  }

  .small-h-cart {
    height: 40px !important;
  }
}

@media screen and (max-width: 565px) {
  .carousel-caption {
    left: 5%;
    width: 41%;
    padding-bottom: 10px;
  }

  .banner-header {
    font-size: 1.2rem !important;
  }

  .banner-text {
    font-size: 0.65rem !important;
  }

  .banner-button {
    font-size: 0.75rem !important;
    padding: 7px 13px;
  }
}

@media screen and (max-width: 500px) {
  .carousel-caption {
    left: 6% !important;
    width: 40% !important;
    bottom: 1rem !important;
  }

  .banner-header {
    font-size: 1rem !important;
  }

  .banner-text {
    font-size: 0.6rem !important;
    margin-bottom: 10px !important;
  }

  .banner-button {
    font-size: 0.7rem !important;
    padding: 6px 12px !important;
  }
}

@media screen and (max-width: 404px) {
  .carousel-caption {
    left: 5% !important;
    width: 45% !important;
    bottom: 1rem !important;
  }

  .banner-button {
    font-size: 0.6rem !important;
    padding: 6px 12px !important;
  }

  .card-title {
    font-size: 15px !important;
  }
}
